
ion-content{
  --ion-background-color:#0af7ff;
}
.bot{
  text-align: center;

ion-button {
  color: #111010;
  font-weight: bold;
}


}

.a {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 255px;
  font-weight: bold;

  ion-label {
  color: #111010;
  font-weight: bold;
}

}
