

<ion-content>

  <div>
    <div class="area">
      <div class="login">
        <label class="username">Nome</label>
        <input placeholder="Digite o seu nome">
      </div>

      <div class="login">
        <label class="username">CPF</label>
        <input placeholder="Digite o seu CPF">
      </div>

      <div class="login">
        <label class="username">Email</label>
        <input placeholder="Digite o seu Email">
      </div>

      <div class="login">
        <label class="username">Senha</label>
        <input type="Password" placeholder="Senha do Usuário">
      </div>

      <div class="login">
        <label class="username">Confirmar Senha</label>
        <input type="Password" placeholder="Confirmar Senha do Usuário">
      </div>

      <p>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label> Manter Conectado</ion-label>
      </p>

      <div>
        <div class="bot1" >
          <ion-button  shape="round" color="dark" routerLink="/login">Entrar</ion-button>
        </div>

        <div class="bot">
          <ion-button  routerLink="/registro" shape="round" size="small" color="dark">Registrar</ion-button>
        </div>

        <div class="bot">
          <ion-button  shape="round" size="small" color="dark">Esqueceu Senha</ion-button>
        </div>

    </div>

</div>


  </div>

  </ion-content>
