ion-content{
  --ion-background-color:#0af7ff;
}

.linger{
  text-align: center;
}
.bot{
  text-align: center;

ion-button {
  color: #ffffff;
  font-weight: bold;
}

}

.a {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 190px;
  font-weight: bold;

  ion-label {
  color: #0e0d0d;
  font-weight: bold;

}
h1 {
  color: #0e0d0d;
  font-weight: bold;
}
}
